body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flow-root;
    /* border: 1px solid blueviolet; */
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    /* border: 1px solid yellow; */
}

.half-width img{
    width: 100%;
    height: 100;
}

.styled-text{
    color: rgb(240, 59, 143);
    font-size: 1.25em;
}

.three-slice{
    width:30%;
    float: left;
    margin-left: 3%;
}

.three-slice img{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

h1{
    font-size: 2.25em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 1.25em;
    color: dimgray;
}

.btn{
    border: 1px solid rgba(158,158,158,1);
    padding: 20px 35px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(253, 169, 183), rgb(179, 89, 231));
    box-shadow: 6px 8px 11px 0px rgba(158,158,158,0.7);
    cursor: pointer;
}

.btn a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
}

.btn:hover{
    box-shadow: 7px 9px 14px 1px rgba(158,158,158,1);
}

.text-area{
    padding: 6em 0;
}
.testimonial{
    text-align: center;
}

.testimonial img {
    width: 100px;
    height: auto;
    /* border: 1px solid rgba(158,158,158,0.7); */
    border-radius: 50%;
    /* padding: 1em 1em; */
}

.client-name{
    font-size: 0.85em;;
}

.quote{
    font-size: 1.35em;
    font-weight: 700;
    line-height: 2em;
}

.contact{
    text-align: center;
    border: 1px solid rgba(158,158,158,1);
    padding: 35px 35px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(253, 169, 183), rgb(179, 89, 231));
    box-shadow: 6px 8px 11px 0px rgba(158,158,158,0.7);
    cursor: pointer;
    margin: 0 auto;
    width: 35%;
}

.contact p{
    color: white;
}

.contact a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;;
}

.contact:hover{
    box-shadow: 7px 9px 14px 1px rgba(158,158,158,1);
}

.center{
    margin: 0 auto;
}

.footer{
    background: url("");
    text-align: center;
    padding: 2em 1em;
    font-size: 0.75em;
}

.social-icons{
    font-size: 1.5em;
    /* border: 1px solid red; */
}

.social-icons a{
    padding-right: 1em;;
}
.social-icons i{
    color:#696969;
}

#hero-area{
    background: url("images/header-bg.png");
    padding: 15px 10px;
    margin-bottom: 3%;
    /* border: 1px solid red; */
}

#bio{
    background: url("images/biography-bg.png");
    /* background-image: url("images/biography-bg.png"); */
    padding: 15px 10px;
    margin-bottom: 3%;
    /* border: 1px solid red; */
}

#portfolio{
    background-image: url("images/latest-work-bg.png");
    padding: 15px 10px;
    margin-bottom: 3%;
    /* border: 1px solid red; */
}

#testimonials{
    padding: 15px 10px;
    margin-bottom: 3%;
}

#contact {
    padding: 25px 10px;
}